:root{
  /* colors */
  --clr-violet: #8b5cf6;
  --clr-ltViolet: #ddd6fe;
  --clr-dkViolet: #7c3aed;
  --clr-ltIndigo: #e0e7ff;
  --clr-gray: #6b7280;
  --clr-ltGray: #cbd5e1;

  /* fonts */
  --ft-notoSans: "Noto Sans", sans-serif;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--ft-notoSans);
}

textarea{
  resize: none;
  background-color: var(--clr-ltIndigo);
  border: none;
  border-radius: 1.5rem;
  font-size: .75rem;
  padding: .5rem;
  width: 50rem;
}

hr{
  margin: .5rem 0;
  border: 1px solid var(--clr-ltGray);
}

.container{
  height: 113vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 15% 85%;
}

.header{
  margin: 1rem 2rem;
}

.icon{
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
}

.iconSmall{
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
}

.nav_panel{
  background-color: var(--clr-violet);
}

.content{
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 2fr 1fr;
}

.topBar{
  display: grid;
  grid-template-columns: 45px 5fr 1fr;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
  
}

.userInfo{
  display: grid;
  grid-template-columns: 3rem 4rem 1fr;
  align-items: center;
  font-weight: 800;
  font-size: 1rem;
}

.userInfo, .postButtons{
  grid-column-start: 3;
}

.postButtons{
  text-align: right;
}

.bottomBar{
  display: grid;
  grid-template-columns: 90px 60rem 1fr;
  align-items: center;
  text-align: left;
  margin-left: 2.75rem;
}


.userGreeting{
  display: grid;
  grid-template-rows: .5fr 1fr;
  text-align: left;
  grid-column-start: 1;

}

.textSmall{
  font-weight: 700;
  font-size: .85rem;
}

.userGreeting:nth-child(1){
  font-weight: 700;
  font-size: 1.25rem;
}

.posts {
  background-color: var(--clr-ltIndigo);
  grid-column-start: 1;
  grid-column-end: 3;
}

.cards_container{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 1rem;
}

.card{
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  max-height: 300px;
  border-left: rgb(146, 29, 29) inset 1rem;
}

.card p{
  font-size: .8rem;
}

.postActions{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.postIcons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.ownerInfo{
  font-size: 1rem;
}

.sidebar{
  background-color: var(--clr-ltIndigo);
  grid-column-start: 3;
}

.postButtons button{
  background-color: var(--clr-violet);
  width: 8rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  margin: 0 .25rem;
}

.postButtons button:hover{
  background-color: var(--clr-dkViolet);
}

.postButtons button a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.nav_panel{
  color: white;
  padding: 1rem;
  font-weight: 700;
}

.logo{
display: grid;
grid-template-columns: 60px 100%;
align-items: center;
margin-bottom: 2rem;
pointer-events: none;
}

.menu_main{
  margin-bottom: 3rem;
}

.menu_main > *, .menu_settings > *{
display: grid;
grid-template-columns: 50px 80%;
align-items: center;
padding-left: 10px;
cursor: pointer;
margin-bottom: 1rem;
}

.menu_main *:hover, .menu_settings *:hover{
  color: var(--clr-ltViolet);
}

.posts{
  padding: 1rem 2rem;
}

.sidebar{
  padding: 0 2rem;

}

.sidebar p{
  font-size: .75rem;
  color: var(--clr-gray);
}

.announcementsContainer{
  margin-bottom: 1.5rem;
}

.announcementsContainer, .trendingContainer{
  background-color: white;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.trendingAcct{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: .75rem 0;
}


.announcementsContainer h3{
margin: .15rem 0;
font-size: 1rem;
}

.announcements h2{
  margin-top: 1rem;
  margin-bottom: .75rem;
}

.trending h2{
  margin-bottom: .75rem;
}
